.App,
input {
  font-family: 'Gothic A1', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Ubuntu, 'Helvetica Neue', Oxygen, Cantarell, sans-serif;
  text-align: center;
  color: #99999f;
}

.Title {
  font-family: 'Playfair Display', serif;
  font-size: 59pt;
  font-weight: 500;
  color: #141119;
}

.subtitle {
  margin-bottom: 5em;
  letter-spacing: 0.6px;
  line-height: 19pt;
  color: #776c89;
  opacity: 0.6;
  position: fixed;
  margin: auto;
  bottom: 10%;
  width: 100%;
  left: 0;
  opacity: 1;
  font-size: 9pt;
  opacity: 1;
  /* display: none; */
}

.subtitle.hide {
  opacity: 0;
  transition: opacity 0.5s;
}

.subtitle {
  opacity: 1;
  transition: opacity 0.5s;
}

.header {
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

span a {
  overflow: hidden;
}

img {
  width: 100%;
  overflow: hidden;
}

.imageContainer img {
  background-color: grey;
}

.devicons {
  vertical-align: sub;
  margin-right: 0.2em;
}

.folderName .folderInput,
.dbxFolderButton {
  display: inline-block;
  border: 1px solid #fefefe;
  background: #fefefe;
  border-radius: 1px;
  margin: 0.6em 0.4em;
  padding: 0.65em 2.2em 0.5em 2.2em;
  user-select: none;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 200;
  font-size: 13px;
  font-weight: 400;
  color: #999;
  box-shadow: 0 8px 6px rgba(50, 50, 93, 0.05), 0 2px 3px rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  position: relative;
  top: 0;
  letter-spacing: 1px;
  /* outline: 1px solid red; */
}

.dbxFolderButton.connect:hover,
.dbxFolderButton.connect:active {
  border: 1px solid #007ee5;
  background-color: #0070e0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#168add),
    to(#007ee5)
  );
  color: white;
  cursor: pointer;
  top: -1px;
  transition: all 0.1s;
}

.dbxFolderButton:hover,
.dbxFolderButton:active {
  border: 1px solid red;
  background-color: red;
  /* background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#168add),
    to(#007ee5)
  ); */
  color: white;
  cursor: pointer;
  font-weight: 400;
  top: -1px;
  transition: all 0.1s;
}

.dbxFolderButton:active,
.dbxFolderButton.connect:active {
  top: 1.5px;
  transition: all 0.05s;
  box-shadow: inset 0 8px -8px rgba(50, 50, 93, 0.55),
    0 8px 6px rgba(50, 50, 93, 0.05), 0 2px 3px rgba(0, 0, 0, 0.08);
}

.folderName .folderInput,
.folderName .folderInput:focus {
  width: 50%;
  max-width: 390px;
  border: 0;
  background: none;
  border-bottom: 1px solid #999997;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  opacity: 0;
  pointer-events: none;
}

.enterName .img,
.enterName .dbxFolderButton {
  opacity: 1;
  pointer-events: all;
  display: none;
}

.enterName .folderName .folderInput {
  opacity: 1;
  pointer-events: all;
}

.folderInput::placeholder {
  color: #ccc;
  transition: all 0.2s;
}

.folderInput:focus::placeholder {
  color: #efefef;
  transition: all 4s;
}

.loading .Title {
  color: "#ccc";
}
.key {
  border: 1px solid #E7E7E7;
  background: #F5F5F5;
  padding: 4pt;
  text-align: center;
  display: inline;
  border-radius: 5px;
}