html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Helvetica Neue', Arial, sans-serif !important;
  width: 100%;
  color: #444;
  background-color: #fefeffc;
}

body {
  /* padding: 30px; */
  box-sizing: border-box;
  overflow: auto;
}

.App,
.Gallery {
  min-width: 100%;
  width: 100%;
  user-select: none;
  position: relative;
}

img {
  border-radius: 0px;
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: auto;
}

img:not(.zoomed):hover {
  /* margin: auto;
  width: 102%;
  margin-left: -1%;
  height: 102%;
  margin-top: -2%; */
  top: -2px;
  transition: top 0.01s, width 0.01s, height 0.01s;
  box-shadow: 0 8px 6px rgba(50, 50, 93, 0.11), 0 2px 3px rgba(0, 0, 0, 0.28);
}

span:not(.zoomed) {
  margin: auto;
  position: relative;
  z-index: 0;
}

span:not(.zoomed):hover {
  z-index: 99 !important;
}

.imageContainer:not(.zoomed):hover {
}
